<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <div class="container my-3">
        <div class="signin bg-dark p-3">
            <h2 class="mt-3 text-white">Sign-in</h2>
            <form action="/auth/login" method="post">
              <div class="form-group text-white">
                <label for="logInUsernameForm">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "username" placeholder="Please enter your Username">
                <small id="emailHelp" class="form-text text-white">If you've already signed up, enter Username above.</small>
            </div>
            <div class="form-group text-white">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name = "password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary bg-success">Submit</button><button type="button" class="btn btn-primary bg-danger ml-3"><a href="/">Log Out</a></button> 
        </div>
        </div>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>