<!-- <header>The Header</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">The Rabbit Hole</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse by Topic
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/env">Environment</a>
            <a class="dropdown-item" href="/pol">Politics</a>
            <a class="dropdown-item" href="/hist">History</a>
            <a class="dropdown-item" href="/sci">Science</a>
            <a class="dropdown-item" href="/ss">Social Sciences</a>
            <a class="dropdown-item" href="/sg">Sex & Gender</a>
            <a class="dropdown-item" href="/des">Design</a>
            <a class="dropdown-item" href="/artslit">Arts & Literature</a>
            <a class="dropdown-item" href="/filmtv">Film & Television</a>
            <a class="dropdown-item" href="/music">Music</a>
            <a class="dropdown-item" href="/sports">Sports</a>
            <a class="dropdown-item" href="/tech">Technology</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/login">Log In</a>
            <a class="dropdown-item" href="/auth/create">Sign Up</a>
          </div>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-gray mr-sm-2"><a href="/auth/login">Log In</a></button>
        <button type="button" class="btn btn-gray mr-sm-2"><a href="/auth/create">Sign Up</a></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Enter search here" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>