<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">About The Rabbit Hole</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Learn all the things.</h6>
                  <p class="card-text">The Rabbit Hole is a passion project of <a href="https:jamieroszel.com">Jamie Roszel.</a></p>
                  <!-- <img src="/imgs/Roszel_portrait.png" alt="site creator portrait"> -->
                  <p>This site was built using Node.js, Express, and <a href="https://getbootstrap.com/"></a>Bootstrap.</p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>
