<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <form class="m-5 bg-light">
            <fieldset>
              <h2 class="text-center">Have something to add?</h2>
              <!-- Discipline Dropdown Menu -->
              <div class="form-group">
                <select class="custom-select">
                  <option selected="">Please choose a discipline</option>
                  <option value="1">Environment</option>
                  <option value="2">Politics</option>
                  <option value="4">History</option>
                  <option value="5">Science</option>
                  <option value="6">Social Sciences</option>
                  <option value="7">Sex & Gender</option>
                  <option value="8">Design</option>
                  <option value="9">Arts & Literature</option>
                  <option value="10">Music</option>
                  <option value="11">Sports</option>
                  <option value="12">Technology</option>
                </select>
              </div>
              <div class="form-group">
                <select class="custom-select mb-3">
                    <option selected="">Please choose a topic:</option>
                    <option value="1">Timber Wars</option>
              </div>
              <!--  -->
              <div class="form-group">
                <label for="exampleTextarea">Enter URL below:</label>
                <textarea class="form-control font-italic" id="exampleTextarea" rows="2" placeholder="Share URL here. For Spotify, click share and copy the embed code."></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Enter Podcast Show:</label>
                <textarea class="form-control font-italic" id="exampleTextarea" rows="2" placeholder="Enter podcast show title. For instance, This American Life."></textarea>
              </div>
              <div class="form-group">
                <label for="episodeNumber">Enter Episode Number, if applicable:</label>
                <input type="number" id="episodeNumber" rows="1" placeholder="Enter podcast episode number. For instance, 585."></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Enter Episode Title:</label>
                <textarea class="form-control font-italic" id="exampleTextarea" rows="2" placeholder="Enter podcast episode title, if applicable. For instance, In Defense of Ignorance."></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        <%- include("partials/footer") %>
    </body>
</html>