<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="jumbotron bg-image">
                <h1 class="display-4">The Environment</h1>
                <p class="lead">Learn all the things.</p>
                <img src="https://images.unsplash.com/photo-1534260574464-1974fc1e6727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded width: 80%" alt="Responsive image">
                Photo by <a href="https://unsplash.com/@cristofer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Cristofer Jeschke</a> on <a href="https://unsplash.com/s/photos/oregon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                <!-- horizontal rule. 'my sets top and bottom'-->
                <hr class="my-4">      
                <h3>Check out topics below:</h3>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Topics
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/timberwars">The Timber Wars</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
            </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>