<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
            <h1 class="text-center mt-3">Podcasts index</h1>
            <p><%  %> </p>  <!--discipline ejs goes here-->
            <p><%  %> </p> <!--topic ejs goes here-->
            <p></p> <!--showTitle ejs goes here-->
            <p></p> <!--episodeNumber ejs goes here-->
            <p></p> <!--episode Title ejs goes here-->
            <p></p> <!--URL ejs goes here-->
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </body>
</html>