<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="jumbotron">
                <h1 class="display-4">The Rabbit Hole</h1>
                <p class="lead">Learn all the things.</p>
                <hr class="my-4">      
                <p class="lead">
                  <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Start Your Search</a>
                </p>
                <p>Have you ever wanted to know more? The internet is great for exploring information. But what happens when you can't remember which podcast you just listened to that talked about that lightbulb in San Francisco that never burnt out? The Rabbit Hole provides a searchable database of articles, videos, and podcasts to help you delve deep into whichever topic you like.</p>
            </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>